# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# macOS
.DS_Store

# Dataset
data/

# Model artifacts
artifacts/*
!artifacts/.gitkeep

# Temporary files
tempFiles/

# Windows
Thumbs.db

# IDE settings
.vscode/
.idea/